<p style="color: green"><%= notice %></p>
<h1>Sessions</h1>

<table style='table-layout: fixed; width: 100%'>
  <tr>
    <td style='width: 10%'>user information</td>
    <td style='width: 10%'>user IP</td>
    <td style='width: 10%'>user agent</td>
    <td style='width: '>session string</td>
    <td style='width: 100px'>operation</td>
  </tr>
  <% Session.all.each do |the_session| %>
  <tr>
    <td><%= the_session.user_id %>
    <%= User.find(the_session.user_id).user_name %>
    </td>
    <td><%= the_session.ip %></td>
    <td><%= the_session.user_agent %></td>
    <td style="word-wrap: break-word"><%= the_session.session_string %></td>
    <td><%= link_to 'delete', session_path(the_session), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }%> </td>
  </tr>

  <% end %>
</table>
